
/* ---------
  Code Challenge for GAP by
  María Paz Muñoz
  2017
--------- */


#search {
	background-image: url('../../assets/img/background-home.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
}

#search a {
	color: white;
}

#search h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 9px;
	font-weight: 300;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

@media (max-width: 576px) { 
	#search h1 {
		font-size: 8vmin;
	}
}

#search form {
	margin-bottom: 20px;
}

#search input {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-right: -4px;
    padding: 7px 15px 7px;
    width: 35%;
    border: 2px solid #6b6b6b;
    background-color: rgba(0,0,0,0.7);
    border-radius: 2px;
    border-right: none;
}

@media (max-width: 576px) { 
	#search input {
		width: 80%;
	}
}

#search .logo {
	margin-bottom: 20px;
}

#search .search-button {
	background-color: #dab601;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    padding: 9px 15px 10px;
}

#search .search-button i {
	margin: 0;
}

#search .black-container {
	background-color: rgba(0,0,0,0.3);
	padding: 100px 0 50px;
}

.item h4 {
	color: #555;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 8px;
	font-family: 'Josefin Sans', sans-serif;
}

.item {
	margin-bottom: 20px;
	text-align: center;
}

.item .details {
	background-color: white;
	box-sizing: border-box;
	float: left;
	padding: 20px 15px;
	width: 65%;
}

.item .details p span::after {
	content: "\2022";
	margin-left: 5px;
}

.item .details p span:last-child::after{
	display: none;
}

.item .subtitle {
	color: #5b5b5b;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
}

.item p {
	display: inline-block;
    margin-bottom: 15px;
}

.item p span:last-child {
	margin-left: 5px;
}

.item .price span {
	color: #666;
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	border: 1px #666 solid;
	padding: 5px 10px;
}

#searchResults {
	text-align: left;
    font-size: 0;
    margin: 30px 0;
}

#searchResults h2 b{
	color: #00be8f;
}

#searchResults .item {
	font-size: 1rem;
}

#searchResults .item .image {
	position: relative;
}

#searchResults .item .image img {
	cursor: pointer;
}


#searchResults .item .details {
	width: 100%;
	float: none;
	height: auto;
}

#searchResults .item .buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}

#searchResults .item .option {
	float: left;
	margin-left: 5px;
	border-radius: 5px;
	text-align: center;
	color: white;
	background-color: #dab601;
	padding: 5px 20px;
	z-index: 10;
	transition: background-color 1s;
}

#searchResults .item .option:hover {
	background-color: #ff9800;
	cursor: pinter;
}

#searchResults .item .remove-btn {
	border: 1px #868686 solid;
    background-color: rgba(0, 0, 0, 0.6);
    right: 10px;
}
#searchResults .item .selected {
	border: 1px #868686 solid;
    background-color: rgba(0, 0, 0, 0.6);
}

#detailsModal {

}

#detailsModal .modal-title {
	margin: 0 auto;
	font-family: 'Josefin Sans', sans-serif;
}

#detailsModal .car-image{
	position: relative;
}

#detailsModal .car-image .price {
	position: absolute;
	bottom: 20px;
	width: 100%
}

#detailsModal .car-image span {
	display: block;
	margin: 0 auto;
	padding: 8px 15px;
	color: white;
	background-color: rgba(0,0,0,0.3);
	border: 1px white solid;
	text-align: center;
	text-transform: uppercase;
}

#detailsModal .details {
	margin: 20px 0;
}

#detailsModal .car-specs {
	margin-top: 20px;
	text-align: center;
	font-size: 1.2rem;
}

#detailsModal .car-specs div {
	margin-bottom: 15px;
}