
/* ---------
  Code Challenge for GAP by
  María Paz Muñoz
  2017
--------- */


/* Reset styles */
  html {min-height: 100%; font-family: 'Open Sans', sans-serif;}
  html, body {margin: 0; padding: 0}
  a {text-decoration: none;}
  fieldset { border: none; }
  .clear { clear: both; display: block; }
  a { text-decoration: none; color: #666; }
  a:hover { text-decoration: none; }
  li, ul, body, div, span, p, h1, h2, h3, input { margin: 0px; padding: 0px; }
  ul { list-style-type: none; }
  img { border: none; }
  body, html { font-size: 14px; color: #666; }
  button {background-color: transparent; border: none;}


/* General Styles */

body {
	background-color: #ecf1f4;
}

i.fa {
	margin-right: 7px;
}


.alert-info {
	text-align: center; 
	color: #8a8a8a;
	font-family: 'Josefin Sans', sans-serif;
}

.alert-info h2 {
	font-size: 1.4rem;
    margin-bottom: 20px;
    background-color: #ecf1f4;
}
.alert-info span {
	font-size: 1.2rem;
	display: block;
}

/* Menu styles */

nav {
	background-color: rgba(0,0,0,0.6);
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;
}

nav .navbar-brand, nav ul, nav ul li {
	float: left;
}

nav .navbar-brand {
    color: #bcbcbc;
    font-weight: 300;
    padding: 8px 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-right: 0
}

nav .navbar-brand a:hover{
	color: #daab01;
}

nav a {
	color: #f6f6f6;
	transition: color 1s;
}

nav i {
	color: #dab601;
	margin-right: 7px;
}

nav ul li{
	background-color: #2c2c2c;
    padding: 8px 20px;
    color: #dfdfdf;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1rem;
    -webkit-transition: color 1s;
    transition: color 1s;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

nav ul li:hover {
	background-color: #595959;
	color: white;
}

nav .container {
	width: 337px;
	margin: 0 auto;
}

nav .active {
	background-color: #dab601;
	font-weight: 600;
}

nav .active:hover {
	background-color: #daab01;
	color: white;
}

nav .active i {
	color: #252525;
	margin-right: 0;
}